/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.section-title{
  font-size: 45px;
  font-weight: 700;
}
.display-flex{
  display: flex;
}
.dark-1{
  color: rgba(19, 19, 19, 1);
}
.dark-2{
  color: rgba(66, 66, 66, 1);
}
.dark-3{
  color: rgba(114, 114, 114, 1);
}
.primary-btn{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  border-radius: 8px;
  padding: 20px 25px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

}
.description{
  font-size: 16px;
  color: rgba(114, 114, 114, 1);
}
main{
  margin: 0 auto;
  max-width: 1440px;
}
main > section{
  margin-top: 130px;
}

/*Header Styles */
.header{
  background-color: rgba(255, 144, 14, 0.1);
  /* height: 1322px; */
}

/* Nav styles */

.text-center{
  text-align: center;
}
.brand{
  font-size: 45px;
  font-weight: 700;
}
.nav-bar{
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  color: rgba(66, 66, 66, 1);
  font-weight: 500;
  font-size: 18px;
}
.nav-bar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}


/* Banner Styles */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;

}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-img{
  width: 100%;
}
/* Main Section Styles*/

/* Team Section Styles */
.teams{
  /* gap: 74px; */
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;

}
.team-img-container img{
  width: 342px;
  height: 342px;
}
.team-content{
  width: 540px;
  height: 304px;
  margin-left: 74px;
  
}
.team-title{
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0;
}
#team-des{
  margin: 24px auto 32px auto;
}

/* Some Fact section Styles */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card{
  border: 1px solid rgba(255, 144, 14, 1);
  width: 241px;
  height: 241px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.fact-description{
  max-width: 540px;

}
.fact-numbers{
  font-size: 45px;
  font-weight: 600;
  color: rgba(66, 66, 66, 1);
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 20px;
  color: rgba(114, 114, 114, 1);
  font-weight: 600;
  margin-top: 10px;
}
/* Responsive Media Query */


@media screen and (max-width: 576px) {
  main > section{
    margin-top: 30px;
  }
.nav-bar{
  flex-direction: column;
}
.brand{
  font-size: 1.3rem;
}
.nav-link{
  font-size: .8rem;
}
.nav-links{
  padding: 0;
  margin: 0;
}

.banner-title{
  font-size: 1.9rem;
  }
.description{
  font-size: 10px;
  padding: 10px;
}

 .primary-btn{
  font-size: 11px;
  padding: 5px 11px;
  font-weight: 500;
 } 
 .banner-content{
  margin-bottom: 30px;
 }
  .teams{
  flex-direction: column;
 }
 /* .team-img-container img{
  width: 300px;
  height: auto;
 } */
.team-content{
   display: contents;
}
.team-title{
  font-size: 20px;
  order: 1;
  text-align: center;
  margin: 0;
 
}
#team-des{
  order: 2;
  font-size: 10px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#team-btn{
  order: 3;
  margin: 0;
  order: 4;
  margin-top: 20px;
}
.team-img-container{
order: 3;
grid-template-columns: 1fr;
gap: 10px;
width: 100%;
max-width: 320px;
height: auto;
margin-top: 30px;
}  
.section-title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
} 
.fact-description{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
.fact-container{
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 30px;
  gap: 10px;
}

}

/* Medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  main > section{
    margin-top: 50px;
  }
  .brand{
    font-size: 2rem;
    margin-left:20px;
  }
  .banner-title{
    font-size: 3.2rem;
  }
  .teams{
    flex-direction: column;
  }
  #banner-des{
    padding: 20px;
  }

  .team-content{
    display: contents;
  
  }
  .team-title{
    order: 1;
    text-align: center;
  }
  #team-des{
    order: 2;
    padding: 10px;
    text-align: center;
  }
  #team-btn{
    order: 4;
    margin-top: 30px;
    
  }
  .team-img-container{
    order: 3;
  }
}